:root {
	--clr-gray-300: hsl(0, 0%, 53%);
	--clr-gray-400: hsl(0, 0%, 30%);

	--clr-btn: hsl(204, 83%, 65%);
	--clr-accent: hsl(204, 88%, 45%);
	--clr-focus-state: rgb(247, 172, 33);
}

#quote {
	color: var(--clr-gray-400);
}

#author,
.quote-number-container {
	color: var(--clr-gray-300);
}

.btn__normal {
	color: white;
}

.btn__normal--hollow {
	color: var(--clr-gray-300);
}

.btn__normal--hollow.active {
	background-color: var(--clr-btn) !important;
	color: white;
}

// Gawin mo tong hover na to sa hollow buttons
// except pag naka disabled
.btn__normal--hollow:hover:not(:disabled) {
	background-color: var(--clr-btn) !important;
	color: white;
}

.btn__normal--solid {
	background-color: var(--clr-btn) !important;
}

.btn__normal--solid:hover {
	background-color: white !important;
	color: var(--clr-gray-300);
}

#showHintBtn {
	color: var(--clr-accent);
}
