@import 'breakpoints';
@import 'colors';
@import 'fonts';
@import 'resets';

:root {
	--default-border-radius: 0.4em;
	--transition-speed-slow: 700ms;
	--transition-speed-normal: 500ms;
	--transition-delay-normal: 320ms;
	--transition-delay-slow: 500ms;
	--transition-delay-fast: 200ms;
}

body {
	background-color: #eee;
}

.viewport-checker {
	display: grid;
	place-content: center;
	min-height: 100dvh;
	position: relative;
	z-index: 9999;

	& .container {
		width: 90%;
		max-width: 500px;
		margin-inline: auto;
	}

	& h1 {
		line-height: 1.2;
	}

	& p {
		margin-block: 1.3em;
		line-height: 1.7;
	}

	@include mediaQuery(xsm) {
		display: none;
	}
}

.btn__normal {
	font-family: inherit;
	font-size: var(--fs-400);
	font-weight: 400;

	outline: none;
	border: none;
	background: transparent;

	border-radius: var(--default-border-radius);
	box-shadow: 4px 3px 10px 0 hsla(0, 0%, 40%, 0);

	cursor: pointer;
	padding: 0.8em 2em;
	position: relative;
	transition: font-weight var(--transition-speed-slow) ease,
		box-shadow var(--transition-speed-slow) ease,
		opacity var(--transition-speed-normal) ease,
		border var(--transition-speed-normal) ease;

	&:hover {
		font-weight: 500;
		box-shadow: 4px 3px 10px 0 hsla(0, 0%, 40%, 0.5);
	}

	&--hollow {
		background-color: white;
		border: 1px solid var(--clr-btn);
	}

	&.loading-state {
		pointer-events: none;
		opacity: 0.5;
	}
}

.btn__transparent {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

.btn__normal:focus-visible,
.btn__transparent:focus-visible {
	border: 1px solid var(--clr-focus-state);
	font-weight: 500;
	box-shadow: 4px 3px 10px 0 hsla(0, 0%, 40%, 0.5);
}

.btn__normal:focus,
.btn__transparent:focus {
	border: 1px solid var(--clr-focus-state);
	font-weight: 500;
	box-shadow: 4px 3px 10px 0 hsla(0, 0%, 40%, 0.5);
}

.card {
	background-color: white;
	width: 90%;
	max-width: 500px;
	padding: 1em;
	margin-inline: auto;
	border-radius: var(--default-border-radius);
	transition: max-width var(--transition-speed-normal) ease;
	position: relative;
	isolation: isolate;

	@include mediaQuery(sm) {
		max-width: 600px;
	}

	@include mediaQuery(lrg) {
		max-width: 700px;
	}

	.fa-quote-left {
		font-size: 40px;
		position: absolute;
		color: hsla(0, 0%, 81%);
		opacity: 0.3;
		z-index: -1;
		pointer-events: none;
		transform: translate(-5px, -10px);
		transition: transform var(--transition-speed-slow) ease
				var(--transition-delay-normal),
			font-size var(--transition-speed-slow) ease
				var(--transition-delay-normal),
			opacity var(--transition-speed-slow) ease
				var(--transition-delay-normal);

		@include mediaQuery(sm) {
			font-size: 60px;
			transform: translate(5px, -17px);
		}
		@include mediaQuery(med) {
			font-size: 100px;
		}
		@include mediaQuery(lrg) {
			font-size: 120px;
			transform: translate(0px, -17px);
			opacity: 0.2;
		}
	}

	&__contents {
		display: flex;
		flex-direction: column;
		gap: 1em;
		width: 100%;

		transition: width var(--transition-speed-slow) ease
			var(--transition-delay-fast);

		@include mediaQuery(sm) {
			margin-inline: auto;
			width: 95%;
		}

		@include mediaQuery(med) {
			width: 90%;
		}
	}

	.quote-container {
		#quote {
			font-size: var(--fs-600);
			transition: font-size var(--transition-speed-normal) ease
				var(--transition-delay-normal);

			@include mediaQuery(med) {
				font-size: var(--fs-700);
			}

			@include mediaQuery(lrg) {
				font-size: var(--fs-800);
			}
		}
	}

	.author-container {
		margin-top: 1em;

		#author {
			font-style: normal;
			font-size: var(--fs-400);
			transition: font-size var(--transition-speed-normal) ease
				var(--transition-delay-normal);

			&::before {
				content: '--';
			}

			@include mediaQuery(lrg) {
				font-size: var(--fs-500);
			}
		}
	}

	.quote-number-container {
		font-size: var(--fs-300);
		display: flex;
		justify-content: flex-end;
		align-self: center;

		width: 100%;
	}

	.button-container {
		display: flex;
		justify-content: flex-end;
		gap: 0.5em;
		isolation: isolate;

		.fa-copy {
			margin-inline-start: 0.3em;
		}
	}

	.copy-notif-div {
		color: white;
		background-color: hsla(0, 0%, 40%);
		border-radius: var(--default-border-radius);

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1em;

		opacity: 0;
		pointer-events: none;
		transition: opacity var(--transition-speed-normal) ease;

		&.show {
			opacity: 1;
		}
	}
}

.main {
	min-height: 100dvh;
	//fallback
	min-height: 100vh;
	width: 100%;
	transition: width var(--transition-speed-slow) ease
		var(--transition-delay-normal);
	position: relative;

	@include mediaQuery(med) {
		width: 80%;
		max-width: 1200px;
		margin-inline: auto;
	}

	&.grid {
		display: none;

		@include mediaQuery(xsm) {
			display: grid;
			place-items: center;
		}
	}
}

.hint {
	&-div {
		position: absolute;
		bottom: 10%;
		right: 0px;
		width: 100%;
	}

	&-show-button-div {
		position: absolute;
		bottom: 10%;
		right: 10px;

		#showHintBtn {
			opacity: 0;
			pointer-events: none;
			transition: opacity var(--transition-speed-normal) ease
				var(--transition-delay-normal);

			text-transform: uppercase;
			font-weight: 500;

			&.show {
				pointer-events: auto;
				opacity: 1;
			}
		}
	}

	&-container {
		position: absolute;
		bottom: 10%;
		right: 10px;
		// width: 60%;

		background-color: hsla(0, 0%, 40%, 0.14);
		border-radius: var(--default-border-radius);
		padding: 1em 0;

		opacity: 0;
		pointer-events: none;
		transform: translateX(-5%);
		transition: opacity var(--transition-speed-normal) ease
				var(--transition-delay-normal),
			transform var(--transition-speed-normal) ease
				var(--transition-delay-normal),
			padding var(--transition-speed-normal) ease
				var(--transition-delay-fast),
			right var(--transition-speed-normal) ease
				var(--transition-delay-fast);

		@include mediaQuery(sm) {
			padding: 1.3em 1em;
			width: auto;
			transform: translateX(-13%);
			right: 5%;
		}

		.fa-circle-xmark {
			position: absolute;
			top: -5px;
			right: -5px;
			font-size: 20px;
			z-index: 99;
			cursor: pointer;

			opacity: 1;
			pointer-events: auto;
			transition: opacity var(--transition-speed-slow) ease;
		}

		@media (hover: hover) {
			.fa-circle-xmark {
				opacity: 0;
				pointer-events: none;
			}
			&:hover .fa-circle-xmark {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&.show {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1);
		}
	}

	&-title-container {
		border-bottom: 1px solid hsla(0, 0, 0, 0.13);
		margin-block-end: 1em;
		padding-block-end: 0.5em;
	}

	&-title {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.3;
	}

	&-group {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 0;

		@include mediaQuery(sm) {
			gap: 1.2em;
		}
	}

	// For every hint group from 2nd up to last
	&-group + &-group {
		margin-block-start: 1em;
	}

	&-img {
		width: 10%;
		width: 20px;
		height: 20px;
	}

	&-message {
		width: 60%;
		font-size: var(--fs-400);
		& em {
			background-color: rgb(20, 20, 20);
			color: hsl(204, 94%, 82%);
			padding: 0 0.4em;
			border-radius: var(--default-border-radius);
		}
	}
}
